# Ignore everything
/*

# Ignore eclipse files
.classpath
.settings
.project

# Subprojects
!/fabric-*
/fabric-*/.gradle
/fabric-*/build

# Folders
!/gradle
!/src

# Files
!/.gitattributes
!/.gitignore
!/.editorconfig
!/build.gradle
!/gradle.properties
!/gradlew
!/gradlew.bat
!/HEADER
!/Jenkinsfile
!/LICENSE
!/README.md
!/settings.gradle
