name: Build
on: [push, pull_request]
jobs:
  build:
    strategy:
      matrix:
        java: [17-jdk]
    runs-on: ubuntu-20.04
    container:
      image: eclipse-temurin:${{ matrix.java }}
      options: --user root
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - uses: gradle/wrapper-validation-action@v1
      - run: ./gradlew check build publishToMavenLocal --stacktrace --warning-mode=fail -Porg.gradle.parallel.threads=4
      - run: mkdir run && echo "eula=true" >> run/eula.txt
      - run: ./gradlew runAutoTestServer --stacktrace --warning-mode=fail
      - uses: actions/upload-artifact@v2
        with:
          name: Artifacts
          path: build/libs/
      - uses: actions/upload-artifact@v2
        with:
          name: Artifacts
          path: ./*/build/libs/
      - uses: actions/upload-artifact@v2
        with:
          name: Maven Local
          path: /root/.m2/repository
