name: Manage Issues

on:
  issues:
    types: [ labeled, unlabeled ]

jobs:
  labels:
    runs-on: ubuntu-latest
    steps:
      - uses: FabricMC/fabric-action-scripts@v1
        with:
          context: ${{ github.event.action }}
          label: ${{ github.event.label.name }}
